body {
  
  /* change background, and set global font*/
  background-color: white;
  font-family: sans-serif;
}

header h1 {
  /*make bigger and color**/
  font-size: 3rem;
  color: #7547A3;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main-nav{
  /** chang background color, remove bulltets, border each list nav element, center , float the link, center the content within the links, width on links, font color, **/
  background-color:RebeccaPurple;
  list-style: none;
  color: white;
  }

.main-nav ul li{
  border-bottom-style: solid;
  text-align: center;
  list-style: none;
  display: inline-block;
  width: 14%;
  height: 2rem;
  padding-top: 1rem;
  border-color: black;
  background-color: #7547A3;
  border-left-width: 2px;
  border-right-width: 2px;
}

.main-nav ul li a{
  color: white;
  text-align: center;
  text-decoration: none;
}

aside{
  /**clear the float-both, background color, float-left, clearfloat bothside **/
  clear:both;
  float:left;
  width: 23%;
  background-color:#C2ADD6;
  height: 35rem;
  padding-top: 5%;
  display: inline-blockj;
}

aside ul {
  /*clear both*/
  clear: both;
  width: auto;
  text-align: center;
}

aside ul li {
  padding: .8rem;
}

aside ul li a {
  text-decoration: none;
  color: white;
}

article {
  /*  */
  display: inline-block;
  width: 77%;
  background-color: gainsboro;
  height: 35rem;
  padding-top: 5%;
}

article figure{
  margin-left: 28rem;
  /*cetner that using margin:auto */
  margin-bottom: 2rem;
}

article p{
   margin-left: 20rem;
   margin-right: 20rem;
   text-align: center;
}

footer{
  /* image float left and contered on the page. */
  clear: both;
  margin: auto;
  padding-left: 45%;
  padding-top: 4rem;
}

footer img{
  
}